body {
    background: black;
    margin-top: 100px;
  }

  .chord_options_closed {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20px;
    background: grey;
    transition: .3s;
    z-index: 1;
    overflow-x: hidden;
    display: flex;
  }

  .chord_options_open {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background: grey;
    transition: .3s;
    z-index: 1;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
  }

  .nav_exit_open {
    width: 30px;
    position: absolute;
    top: 50%;
    bottom: 50%;
    display: block;
    left: 270px;
    transition: .3s;
    cursor: pointer;
  }

  .nav_exit_closed {
    width: 30px;
    position: absolute;
    top: 50%;
    bottom: 50%;
    display: block;
    right: -4px;
    transition: .3s;
    cursor: pointer;
  }

  .chord_option_list {
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  .chord_option_list li {
    color: silver;
    font-family: sans-serif;
    font-size: 20pt;
    cursor: pointer;
    display: block;
    align-self: space-around;
  }

  .chord_option_list li:hover {
    color: white;
  }

  .chord_buttons_major {
    transition: 1s;
  }

  .chord_buttons_major ul {
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  .chord_buttons_major_none {
    display: none;
  }

  .chord_buttons_minor {
    transition: 1s;
  }

  .chord_buttons_minor ul {
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  .chord_buttons_minor button {
    width: 100px;
  }

  .chord_buttons_minor_none {
    display: none;
  }

  .reset {
    color: red;
  }
  
  button {
    cursor: pointer;
    font-size: 14pt;
    width: 100px;
  }
  .first_fret {
    margin-top: 50px;
  }

  section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
  }
  
  .first_fret {
    margin-top: 30px;
  }
  
  div {
    height: 100px;
    width: 30px;
  }
  
  .e_a_string {
    border-left: solid white;
    border-right: solid white;
    border-top: solid white;
  }
  
  .d_string {
    border-right: solid white;
    border-top: solid white;
  }
  
  .g_string {
    border-right: solid white;
    border-top: solid white;
  }
  
  .b_string {
    border-right: solid white;
    border-top: solid white;
  }
  
  .e_string {
    border-right: solid white;
    border-top: solid white;
  }
  
  .one {
    width: 28px;
    height: 28px;
    border: solid black;
    position: absolute;
    border-radius: 28px;
    background-color: grey;
    margin: -34px 0 0 83px;
    transition: 2s;
  }
  
  .two {
    width: 28px;
    height: 28px;
    border: solid black;
    position: absolute;
    border-radius: 28px;
    background-color: grey;
    margin: -34px 0 0 50px;
    transition: 2s;
  }
  
  .three {
    width: 28px;
    height: 28px;
    border: solid black;
    position: absolute;
    border-radius: 28px;
    background-color: grey;
    margin: -34px 0 0 16px;
    transition: 2s;
  }
  
  .four {
    width: 28px;
    height: 28px;
    border: solid black;
    position: absolute;
    border-radius: 28px;
    background-color: grey;
    margin: -34px 0 0 -16px;
    transition: 2s;
  }
  
  .five {
    width: 28px;
    height: 28px;
    border: solid black;
    position: absolute;
    border-radius: 28px;
    background-color: grey;
    margin: -34px 0 0 -49px;
    transition: 2s;
  }
  
  .six {
    width: 28px;
    height: 28px;
    border: solid black;
    position: absolute;
    border-radius: 28px;
    background-color: grey;
    margin: -34px 0 0 -82px;
    transition: 2s;
  }

  .highe_1 {
    width: 28px;
    height: 28px;
    border: solid black;
    position: absolute;
    border-radius: 28px;
    background-color: orange;
    margin: 35px 0 0 83px;
    transition: 2s;
  }

  .b_1 {
    width: 28px;
    height: 28px;
    border: solid black;
    position: absolute;
    border-radius: 28px;
    background-color: red;
    margin: 35px 0 0 50px;
    transition: 2s;
  }

  .g_1 {
    width: 28px;
    height: 28px;
    border: solid black;
    position: absolute;
    border-radius: 28px;
    background-color: blue;
    margin: 35px 0 0 16px;
    transition: 2s;
  }
  
  .d_1 {
    width: 28px;
    height: 28px;
    border: solid black;
    position: absolute;
    border-radius: 28px;
    background-color: green;
    margin: 35px 0 0 -16px;
    transition: 2s;
  }

  .a_1 {
    width: 28px;
    height: 28px;
    border: solid black;
    position: absolute;
    border-radius: 28px;
    background-color: yellow;
    margin: 35px 0 0 -49px;
    transition: 2s;
  }

  .e_1 {
    width: 28px;
    height: 28px;
    border: solid black;
    position: absolute;
    border-radius: 28px;
    background-color: purple;
    margin: 35px 0 0 -82px;
    transition: 2s;
  }
  
  .highe_2 {
    width: 28px;
    height: 28px;
    border: solid black;
    position: absolute;
    border-radius: 28px;
    background-color: orange;
    margin: 140px 0 0 83px;
    transition: 2s;
  }

  .b_2 {
    width: 28px;
    height: 28px;
    border: solid black;
    position: absolute;
    border-radius: 28px;
    background-color: red;
    margin: 140px 0 0 50px;
    transition: 2s;
  }

  .g_2 {
    width: 28px;
    height: 28px;
    border: solid black;
    position: absolute;
    border-radius: 28px;
    background-color: blue;
    margin: 140px 0 0 16px;
    transition: 2s;
  }
  
  .d_2 {
    width: 28px;
    height: 28px;
    border: solid black;
    position: absolute;
    border-radius: 28px;
    background-color: green;
    margin: 140px 0 0 -16px;
    transition: 2s;
  }

  .a_2 {
    width: 28px;
    height: 28px;
    border: solid black;
    position: absolute;
    border-radius: 28px;
    background-color: yellow;
    margin: 140px 0 0 -49px;
    transition: 2s;
  }

  .e_2 {
    width: 28px;
    height: 28px;
    border: solid black;
    position: absolute;
    border-radius: 28px;
    background-color: purple;
    margin: 140px 0 0 -82px;
    transition: 2s;
  }
  
  .highe_3 {
    width: 28px;
    height: 28px;
    border: solid black;
    position: absolute;
    border-radius: 28px;
    background-color: orange;
    margin: 240px 0 0 83px;
    transition: 2s;
  }

  .b_3 {
    width: 28px;
    height: 28px;
    border: solid black;
    position: absolute;
    border-radius: 28px;
    background-color: red;
    margin: 240px 0 0 50px;
    transition: 2s;
  }

  .g_3 {
    width: 28px;
    height: 28px;
    border: solid black;
    position: absolute;
    border-radius: 28px;
    background-color: blue;
    margin: 240px 0 0 16px;
    transition: 2s;
  }
  
  .d_3 {
    width: 28px;
    height: 28px;
    border: solid black;
    position: absolute;
    border-radius: 28px;
    background-color: green;
    margin: 240px 0 0 -16px;
    transition: 2s;
  }

  .a_3 {
    width: 28px;
    height: 28px;
    border: solid black;
    position: absolute;
    border-radius: 28px;
    background-color: yellow;
    margin: 240px 0 0 -49px;
    transition: 2s;
  }

  .e_3 {
    width: 28px;
    height: 28px;
    border: solid black;
    position: absolute;
    border-radius: 28px;
    background-color: purple;
    margin: 240px 0 0 -82px;
    transition: 2s;
  }

  .highe_4 {
    width: 28px;
    height: 28px;
    border: solid black;
    position: absolute;
    border-radius: 28px;
    background-color: orange;
    margin: 347px 0 0 83px;
    transition: 2s;
  }

  .b_4 {
    width: 28px;
    height: 28px;
    border: solid black;
    position: absolute;
    border-radius: 28px;
    background-color: red;
    margin: 347px 0 0 50px;
    transition: 2s;
  }

  .g_4 {
    width: 28px;
    height: 28px;
    border: solid black;
    position: absolute;
    border-radius: 28px;
    background-color: blue;
    margin: 347px 0 0 16px;
    transition: 2s;
  }
  
  .d_4 {
    width: 28px;
    height: 28px;
    border: solid black;
    position: absolute;
    border-radius: 28px;
    background-color: green;
    margin: 347px 0 0 -16px;
    transition: 2s;
  }

  .a_4 {
    width: 28px;
    height: 28px;
    border: solid black;
    position: absolute;
    border-radius: 28px;
    background-color: yellow;
    margin: 347px 0 0 -49px;
    transition: 2s;
  }

  .e_4 {
    width: 28px;
    height: 28px;
    border: solid black;
    position: absolute;
    border-radius: 28px;
    background-color: purple;
    margin: 347px 0 0 -82px;
    transition: 2s;
  }

  .highe_5 {
    width: 28px;
    height: 28px;
    border: solid black;
    position: absolute;
    border-radius: 28px;
    background-color: orange;
    margin: 447px 0 0 83px;
    transition: 2s;
  }

  .b_5 {
    width: 28px;
    height: 28px;
    border: solid black;
    position: absolute;
    border-radius: 28px;
    background-color: red;
    margin: 447px 0 0 50px;
    transition: 2s;
  }

  .g_5 {
    width: 28px;
    height: 28px;
    border: solid black;
    position: absolute;
    border-radius: 28px;
    background-color: blue;
    margin: 447px 0 0 16px;
    transition: 2s;
  }
  
  .d_5 {
    width: 28px;
    height: 28px;
    border: solid black;
    position: absolute;
    border-radius: 28px;
    background-color: green;
    margin: 447px 0 0 -16px;
    transition: 2s;
  }

  .a_5 {
    width: 28px;
    height: 28px;
    border: solid black;
    position: absolute;
    border-radius: 28px;
    background-color: yellow;
    margin: 447px 0 0 -49px;
    transition: 2s;
  }

  .e_5 {
    width: 28px;
    height: 28px;
    border: solid black;
    position: absolute;
    border-radius: 28px;
    background-color: purple;
    margin: 447px 0 0 -82px;
    transition: 2s;
  }